button {
    border-radius:10px;
    font-weight:bold;
    width: 7%;
    height: 5%;
    color: white
}

.p-realizado{
    color: green;
    font-weight:bold
}

.btn-realizar {
    background-color: rgb(50, 155, 50)

}
.btn-realizar:hover {
    background-color: rgb(50, 100, 50)
}

.btn-editar {
    background-color: rgb(255, 173, 50)
}
.btn-editar:hover {
    background-color: rgb(200, 150, 50)
}

.btn-excluir {
    background-color: rgb(255, 50, 50)
}
.btn-excluir:hover {
    background-color: rgb(200, 50, 50)
}